/* BASE STYLES */

:root {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: lightblue;
}

/* MAIN CONTENT */

.pomodoro {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.pomodoro--timer {
    height: 200px;
    width: 220px;
}

.timer {
    display: flex;
    justify-content: center;
}

.time {
    font-size: 30px;
}

.pomodoro--buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.start {
    background-color: limegreen;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.reset {
    background-color: yellow;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;
    color: black;
    padding: 5px;
    cursor: pointer;
}

.pause {
    background-color: red;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;
    color: black;
    padding: 5px;
    cursor: pointer;
}