/* BASE STYLES */

:root {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: lightblue;
}

/* MAIN CONTENT */

.pomodoro {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.pomodoro--timer {
    height: 200px;
    width: 200px;
}